@media screen and (max-width: 1366px){
    .main-img img{
        width: 270px;
    }
    .main-title h1{
        font-size: 40px;
    }
    .ecommerce-title{
        width: 400px;
    }
    .ecommerce-img img{
        width: 750px;
    }
    .ecommerce-title h2{
        font-size: 30px;
    }
    .ecommerce-title p,
    .ecommerce-title_list ul li{
        font-size: 14px;
    }
    .concept-img_circle{
        width: 470px;
        height: 470px;
    }
    .concept-img_circle-item{
        width: 390px;
        height: 390px;
    }
    .concept-img_circle-item:nth-child(2){
        width: 310px;
        height: 310px;
    }
    .webapps-content h4{
        font-size: 22px;
    }
    .webapps-content p{
        font-size: 14px;
    }
    .project, .partners{
        width: 30%;
    }
    .contact-video{
        height: 315px;
    }
}

@media screen and (max-width: 1100px){
    .wrapper{
        width: 920px;
    }
    .advantage .wrapper{
        justify-content: space-around;
    }
    .adv-column:nth-child(2){
        display: none;
    }
    .adv-column .adv-column_item{
        align-items: center;
    }
    .adv-column:nth-child(3) .adv-column_item{
        align-items: center;
    }
    .adv-column .adv-column_item span{
        text-align: center;
    }
    .adv-column:nth-child(3) .adv-column_item span{
        text-align: center;
    }
    .ecommerce{
        width: 920px;
        margin: 0 auto;
        padding-top: 50px;
        flex-direction: column;
    }
    .ecommerce-title{
        width: 540px;
    }
    .ecommerce-img img{
        width: 600px;
    }
    .ecommerce-title h2{
        margin: 0;
    }
    .concept-title h2{
        font-size: 31px;
    }
    .webapps{
        flex-direction: column;
    }
    .webapps .webapp{
        width: 100%;
        height: 40%;
        background-position: top;
    }
    .webapps-content{
        padding: 35px;
    }
    .webapps .website{
        width: 100%;
        height: 60%;
        display: flex;
    }
    .webapps .website-ecom, .webapps .website-dev{
        width: 50%;
        height: 100%;
        background-position: 70% 100%;
    }
    .contact-adress .adress{
        width: 60%;
    }

}
@media screen and (max-width: 920px){
    .wrapper{
        width: 750px;
    }
    .developing h2,
    .developing p{
        text-align: center;
    }
    .developing-mockup{
        width: 650px;
    }
    .contact-adress .adress{
        height: 350px;
    }
    .form form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .content .form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .form-contacts{
        width: 48%;
        flex-direction: column;
    }
    .form-contacts-box{
        width: 100%;
    }
    .form-textarea{
        width: 48%;
    }
    textarea{
        height: 130px !important; 
    }
}

@media screen and (max-width: 780px){
    .wrapper{
        width: 690px;
    }
    .main .wrapper{
        justify-content: center;
    }
    .main-img img{
        display: none;
    }
    .ecommerce{
        width: 690px;
    }
    .concept-img{
        display: none;
    }
    .concept-title{
        width: 600px;
    }
    .webapps .webapp{
        height: 33%;
        background-position: top;
    }
    .webapps .website{
        height: 77%;
        flex-direction: column;
    }
    .webapps .website-ecom, .webapps .website-dev{
        width: 100%;
        height: 50%;
    }
    .project, .partners{
        width: 46%;
    }
    .contact-video-layer h1{
        font-size: 35px;
    }
    .contact-adress .adress{
        width: 80%;
    }
    .detail{
        flex-direction: column;
    }
    #videoBG{
        display: none;
    }
}

@media screen and (max-width: 560px){
    .wrapper{
        width: 100%;
    }
    .navbar ul li a{
        font-size: 25px;
        line-height: 34px;
    }
    .navbar .contacts,
    .navbar .copyright{
        margin: 30px 0 0 60px;
    }
    header .social-icon_icons{
        transform: translateY(-26px);
    }
    .main-title{
        width: 322px;
    }
    .main-title h1{
        font-size: 34px;
    }
    .main-title p{
        width: 100%;
    }
    .main-title_calc-btn{
        font-size: 14px;
        padding: 11px 0;
    }
    .main-title_btns a{
        padding: 6px 14px;
        font-size: 10px;
    }
    .developing h2{
        font-size: 29px;
    }
    .developing p{
        font-size: 14px;
    }
    .developing-mockup{
        width: 100%;
    }
    .developing-mockup .mock1{
        left: 0;
    }
    .developing-mockup .mock2{
        right: 0;
    }
    .developing-mockup .mock3{
        top: 52%;
        left: 10%;
    }
    .developing-mockup .mock4{
        top: 52%;
        right: 10%;
    }
    .developing-mockup .mockups-content{
        width: 160px;
        padding: 5px;
        font-size: 9px;
    }
    .advantage .wrapper{
        flex-direction: column;
        justify-content: center;
    }
    .adv-column{
        height: auto;
    }
    .adv-column .adv-column_item{
        padding: 10px 0;
    }
    .adv-column .adv-column_item object{
        width: 50px;
    }
    .adv-column .adv-column_item span{
        padding: 2px;
        line-height: 18px;
    }
    .ecommerce{
        width: 100%;
        padding: 0 15px;
        margin-top: 25px;
    }
    .ecommerce-img img{
        width: 100%;
    }
    .ecommerce-title{
        width: 100%;
        padding: 0 15px;
    }
    .ecommerce-title h2{
        font-size: 22px;
    }
    .concept-title{
        width: 100%;
        padding: 0 15px;
        margin: 0;
    }
    .concept-title h2{
        font-size: 27px;
    }
    .webapps-content h4{
        margin-bottom: 0;
        font-size: 17px;
    }
    .webapps-content p{
        font-size: 12px;
    }
    .webapps-content .webbtns-wrap a,
    .webapps-content .webbtns-wrap a:before,
    .webapps-content .webbtns-wrap a:after{
        line-height: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .webapps-content .webbtns-wrap a::before{
        transform: translate(0) rotate(0);
        
    }
    .webapps-content .webbtns-wrap a:after{
        display: none;
    }
    .footer .contacts img,
    .footer .contacts .slogan{
        width: 200px;
        transform: translate(0);
    }
    .footer .contacts .slogan span{
        font-size: 20px;
    }
    .section-about-wrapper-content h1{
        font-size: 30px;
        line-height: 40px;
    }
    .section-about-wrapper-content p{
        width: 100%;
    }
    .section-video-title span{
        font-size: 22px;
        text-align: center;
    }
    .template-bg h2{
        font-size: 26px;
        text-align: center;
    }
    .template-bg p{
        font-size: 18px;
        text-align: center;
    }
    .project, .partners{
        width: 90%;
    }
    .detail .detail-img img{
        width: 100%;
    }
    .configurator-title h1{
        font-size: 44px;
        text-align: center;
        margin-bottom: 0;
    }
    .configurator-title p{
        font-size: 16px;
        line-height: 29px;
    }
    .configurator-content .content h6{
        font-size: 36px;
        text-align: center;
    }
    .configurator-content .content-checkbox{
        margin: 20px 0;
        flex-direction: column;
    }
    .configurator-content .content-checkbox .checkbox{
        margin-top: 10px;
    }
    .content .form{
        flex-direction: column;
    }
    .form-contacts,
    .form-textarea{
        width: 100%;
    }
    .configurator-subtitle{
        text-align: center;
    }
    .contact-video{
        height: 230px;
    }
    .contact-video-layer h1{
        font-size: 22px;
        text-align: center;
    }
    .contact-adress .adress{
        width: 90%;
        height: 224px;
    }
    .contact-adress .adress-content{
        padding: 12px;
    }
    .contact-adress .adress-content-arrow{
        margin-top: 10px;
    }
    .form-title p{
        width: 100%;
    }
}
@media screen and (min-width: 315px) and (max-width: 411px){
    .main-title h1{
        font-size: 24px;
        line-height: 34px;
    }
    .main-title p{
        font-size: 14px;
        line-height: 24px;
    }
    .main-title_calc-btn{
        font-size: 12px;
        padding: 6px 0;
    }
    .developing h2{
        font-size: 24px;
    }
    .adv-column .adv-column_item span{
        font-size: 10px;
    }
    .adv-column .adv-column_item{
        padding: 0;
    }
    .ecommerce-title h2{
        font-size: 20px;
    }
    .ecommerce-title p,
    .ecommerce-title_list ul li{
        font-size: 12px;
        line-height: 18px;
    }
    .concept-title h2{
        width: 100%;
        font-size: 22px;
        line-height: 32px;
        margin-top: 35px;
    }
    .concept-title p{
        line-height: 22px;
    }
    .concept-title a{
        padding: 8px;
    }
    .webapps-content h4{
        margin-bottom: 30px;
    }
    .webapps-content p{
        display: none;
    }
    .section-about-wrapper-content{
        bottom: 30px;
    }
    .section-about-wrapper-content h1{
        font-size: 24px;
        line-height: 28px;
    }
    .section-about-wrapper-content p{
        font-size: 13px;
    }
    .template-bg h2{
        font-size: 22px;
        line-height: 26px;
    }
    .template-bg p{
        font-size: 14px;
    }
    .portfolio-project, .partners-project{
        padding-left: 27px;
    }
    .configurator-content .content h6{
        font-size: 30px;
    }
    .configurator-content .content .form{
        padding: 10px;
    }
    .contact-video,
    .contact-adress .adress{
        height: 180px;
    }
    .contact-video-layer h1{
        line-height: 30px;
    }
    .contact-adress .adress-content h5{
        font-size: 18px;
    }
    .contact-adress .adress-content span{
        font-size: 13px;
        line-height: 18px;
    }
    .detail-content{
        padding-left: 20px;
    }
    .detail-content-worklist ul li{
        margin-left: 30px;
    }
}