@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Regular', Arial, sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;
  background: #626262;
}

body::-webkit-scrollbar-thumb {
  width: 15px;
  background: #3a3a3a;
  border-radius: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 991;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

header .logo {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

header .social {
  width: 160px;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 30px;
}

header .social-icon {
  width: 38px;
  height: 26px;
  overflow: hidden;
  cursor: pointer;
}

header .social-icon_icons {
  width: 100%;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #ffffff;
}

header .social-icon_icons a {
  font-size: 22px;
  color: #ffffff;
}

header .social-icon:hover .social-icon_icons {
  -webkit-transform: translateY(-26px);
          transform: translateY(-26px);
}

header .menu-btn {
  width: 40px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu-btn-items {
  display: block;
  width: 38px;
  height: 3px;
  background: #afafaf;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .menu-btn-items span {
  display: block;
  width: 0;
  height: 3px;
}

header .menu-btn_active .menu-btn-items:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  width: 31px;
}

header .menu-btn_active .menu-btn-items:nth-child(2) {
  opacity: 0;
}

header .menu-btn_active .menu-btn-items:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 31px;
}

header .menu-btn_active .menu-btn-items span {
  -webkit-animation: btn-bg 0.4s 1 linear forwards;
          animation: btn-bg 0.4s 1 linear forwards;
}

.portfolio-header .social-icon_icons,
.portfolio-header .social-icon_icons a {
  color: #afafaf;
}

@-webkit-keyframes btn-bg {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background: #fff;
  }
}

@keyframes btn-bg {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background: #fff;
  }
}

.navbar {
  position: fixed;
  z-index: 992;
  right: 0;
  top: 0;
  width: 340px;
  height: 100vh;
  background: #ff3a4c;
  -webkit-transform: translate(340px);
          transform: translate(340px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.navbar ul {
  margin: 100px 0 0 60px;
}

.navbar ul li a {
  font-size: 32px;
  color: #cacaca;
  font-weight: 300;
  font-family: 'Montserrat Light';
  letter-spacing: 1px;
  line-height: 42px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #fff;
}

.navbar .contacts {
  margin: 100px 0 0 60px;
}

.navbar .contacts-phone, .navbar .contacts-location {
  margin-bottom: 20px;
}

.navbar .contacts-phone a, .navbar .contacts-location a {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.7px;
  color: #ffffff;
  line-height: 36px;
}

.navbar .copyright {
  margin: 100px 0 0 60px;
  font-size: 12px;
  color: #fff;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar_active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.section:first-child {
  overflow: hidden;
  position: relative;
}

.main {
  height: 100vh;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-bg {
  position: absolute;
  z-index: 0;
}

.main .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-animation {
  -webkit-animation: mainbg 10s linear 1;
          animation: mainbg 10s linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes mainbg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes mainbg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.main-img img {
  width: 320px;
}

.main-title {
  width: 460px;
}

.main-title h1 {
  color: #ffffff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  margin-top: 0;
  letter-spacing: 2px;
}

.main-title p {
  width: 400px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.main-title_calc-btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  background: #ff3a4c;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.main-title_calc-btn .fa-calculator {
  -webkit-transform: translate(30px);
          transform: translate(30px);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  font-size: 18px;
}

.main-title_calc-btn:hover .fa-calculator {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.main-title_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.main-title_btns a {
  padding: 15px 30px;
  border: 2px solid #ffffff;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-title_btns a:hover {
  background: #ff3a4c;
  border-color: #ff3a4c;
}

.developing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developing h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  color: #494949;
  letter-spacing: -2.3px;
  margin-bottom: 20px;
}

.developing p {
  margin: 0;
  font-size: 18px;
  color: #999999;
  margin-bottom: 30px;
}

.developing-mockup {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.developing-mockup img {
  width: 100%;
}

.developing-mockup .mockups {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developing-mockup .mockups-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #ff3a4c;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.developing-mockup .mockups-icon::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 58, 76, 0.3);
  -webkit-animation: mock-pulse 2s infinite linear;
          animation: mock-pulse 2s infinite linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.developing-mockup .mockups-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  width: 250px;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 70px 5px #b4b4b4;
          box-shadow: 0 20px 70px 5px #b4b4b4;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 13px;
}

.developing-mockup .mockups-content strong {
  color: #ff3a4c;
  margin-bottom: 5px;
}

.developing-mockup .mock1 {
  top: 14%;
  left: 7%;
}

.developing-mockup .mock2 {
  top: 11%;
  right: 7%;
}

.developing-mockup .mock3 {
  top: 46%;
  left: 20%;
}

.developing-mockup .mock4 {
  top: 42%;
  right: 22%;
}

@-webkit-keyframes mock-pulse {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes mock-pulse {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0;
  }
}

.advantage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adv-column {
  width: 300px;
  height: 535px;
}

.adv-column .adv-column_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 0;
}

.adv-column .adv-column_item img {
  margin-bottom: 20px;
}

.adv-column .adv-column_item span {
  color: #fff;
  text-align: right;
  line-height: 26px;
  padding: 10px;
}

.adv-column .adv-column_img {
  position: relative;
}

.adv-column .adv-column_img img {
  position: absolute;
  width: 100%;
}

.adv-column .adv-column_img img:first-child {
  top: -30px;
  left: -30px;
}

.adv-column .adv-column_img img:last-child {
  top: 30px;
  left: 30px;
}

.adv-column:nth-child(3) .adv-column_item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.adv-column:nth-child(3) .adv-column_item span {
  text-align: left;
}

.ecommerce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ecommerce-img img {
  width: 900px;
}

.ecommerce-title {
  width: 510px;
}

.ecommerce-title h2 {
  color: #39dfa5;
  background: -webkit-gradient(linear, left top, right bottom, from(#39dfa5), to(#1fbdf2));
  background: linear-gradient(to bottom right, #39dfa5, #1fbdf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: 400;
  margin: 60px 0;
}

.ecommerce-title p {
  font-size: 16px;
  color: #5f5f5f;
  line-height: 24px;
}

.ecommerce-title_list ul {
  padding: 0;
  margin: 0;
}

.ecommerce-title_list ul li {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
}

.ecommerce-title_list ul li span {
  display: inline-block;
  width: 15px;
  height: 1px;
  background: #5f5f5f;
  vertical-align: middle;
  margin-right: 5px;
}

.concept .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.concept-img_circle {
  width: 630px;
  height: 630px;
  position: relative;
  -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.concept-img_circle img {
  position: absolute;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.concept-img_circle-item {
  width: 480px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.concept-img_circle-item:nth-child(2) {
  width: 350px;
  height: 350px;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.concept-title {
  margin-left: 30px;
}

.concept-title h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  color: #fff;
  width: 395px;
  letter-spacing: -1px;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.concept-title p {
  color: #ffffff;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 40px;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.concept-title a {
  padding: 15px 30px;
  border: 2px solid #ffffff;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 20px;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.concept-title a:hover {
  background: #ff3a4c;
  border-color: #ff3a4c;
}

.webapps {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.webapps .webapp {
  width: 50%;
  height: 100%;
  background: url(../img/webapp1.jpg) center no-repeat;
  background-size: cover;
}

.webapps .webapp .webapps-content .webbtns a::after {
  background: #687981;
}

.webapps .webapp .webapps-content .webbtns a::before {
  color: #687981;
}

.webapps .website {
  width: 50%;
  height: 100%;
}

.webapps .website-ecom, .webapps .website-dev {
  height: 50%;
  background: url(../img/webapp2.jpg) center no-repeat;
  background-size: cover;
}

.webapps .website-ecom .webapps-content .webbtns a::after, .webapps .website-dev .webapps-content .webbtns a::after {
  background: #3c8cff;
}

.webapps .website-ecom .webapps-content .webbtns a::before, .webapps .website-dev .webapps-content .webbtns a::before {
  color: #3c8cff;
}

.webapps .website-dev {
  background: url(../img/webapp3.jpg) center no-repeat;
  background-size: cover;
}

.webapps .website-dev .webapps-content .webbtns a::after {
  background: #eaeaea;
  border-color: #687981;
  color: #687981;
}

.webapps .website-dev .webapps-content .webbtns a::before {
  background: #687981;
  border-color: #687981;
  color: #ffffff;
}

.webapps .website-dev h4,
.webapps .website-dev p {
  color: #687981;
}

.webapps-content {
  padding: 60px;
}

.webapps-content h4 {
  color: #ffffff;
  font-size: 28px;
  text-transform: uppercase;
}

.webapps-content p {
  color: #ffffff;
  margin-bottom: 40px;
}

.webapps-content .webbtns {
  margin-bottom: 30px;
}

.webapps-content .webbtns-wrap {
  width: 300px;
  position: relative;
}

.webapps-content .webbtns-wrap a {
  border: 4px solid #ffffff;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.webapps-content .webbtns-wrap a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  border: 4px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(100%) rotateX(90deg);
          transform: translateY(100%) rotateX(90deg);
}

.webapps-content .webbtns-wrap a:hover::before {
  -webkit-transform: translateY(0) rotateX(0deg);
          transform: translateY(0) rotateX(0deg);
}

.webapps-content .webbtns-wrap a::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  border: 4px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateY(0) rotateX(0deg);
          transform: translateY(0) rotateX(0deg);
}

.webapps-content .webbtns-wrap a:hover::after {
  -webkit-transform: translateY(-100%) rotateX(90deg);
          transform: translateY(-100%) rotateX(90deg);
}

.footer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contacts .slogan {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.footer .contacts .slogan span {
  color: #676767;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer .contacts .slogan span:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .contacts a {
  color: #676767;
  font-family: 'Montserrat Bold';
}

.footer .contacts a span {
  color: #ff3a4c;
  font-family: 'Montserrat Regular';
}

#fp-nav ul li a span {
  background: #ffffff;
}

#fp-nav ul li a.active span {
  border: 1px solid #676767;
  background: none !important;
}

#fp-nav ul li .fp-tooltip {
  color: #ffffff;
  font-size: 15px;
}

#fp-nav ul li a span {
  width: 6px;
  height: 6px;
  margin: -2px 0 0 -3px;
}

#fp-nav ul li {
  margin-bottom: 15px;
}

.template-bg {
  height: 350px;
  background: url(../img/portfolio-bg.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.template-bg h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
  color: #fff;
  letter-spacing: -1px;
  margin: 0;
}

.template-bg p {
  color: #ffffff;
  line-height: 30px;
  font-size: 26px;
}

.portfolio-project,
.partners-project {
  width: 100%;
  padding: 40px 0 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  background: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-content span {
  color: #c8c8c8;
  font-size: 13px;
}

#videoBG {
  position: fixed;
  z-index: -2;
  width: 100%;
  height: auto;
}

@media (min-aspect-ratio: 16 / 9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

.section-video {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #bbbbbba1;
}

.section-video-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-video-title span {
  font-size: 30px;
  letter-spacing: -1px;
}

.section-video-arrow {
  width: 40px;
  height: 40px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.section-video-arrow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #fff;
}

.section-about {
  width: 100%;
  height: 100vh;
  background: url(../img/office.jpg) top center no-repeat;
  background-size: cover;
  position: relative;
}

.section-about-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
}

.section-about-wrapper-content {
  width: 100%;
  position: absolute;
  bottom: 100px;
}

.section-about-wrapper-content h1 {
  font-size: 40px;
  color: #fff;
  line-height: 65px;
  font-weight: 300;
  font-family: 'Roboto';
}

.section-about-wrapper-content p {
  color: #fff;
  width: 600px;
  line-height: 26px;
  margin-bottom: 30px;
}

.section-about-wrapper-content a {
  padding: 15px 30px;
  border: 2px solid #ff3a4c;
  text-align: center;
  color: #ff3a4c;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section-about-wrapper-content a:hover {
  background: #ff3a4c;
  color: #fff;
}

.contact-video {
  position: relative;
  width: 100%;
  height: 545px;
  overflow: hidden;
}

.contact-video #contact-videoBG {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.contact-video-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 81, 135, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-video-layer h1 {
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 300;
  line-height: 66px;
  color: #fff;
}

.contact-adress {
  width: 100%;
  background: #d4d4d4;
  padding: 40px 0;
}

.contact-adress .adress {
  width: 45%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.contact-adress .adress img {
  position: absolute;
  z-index: 0;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-adress .adress-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.contact-adress .adress-content h5 {
  font-family: 'Roboto';
  font-size: 34px;
  margin: 0;
  line-height: 50px;
  color: #fff;
  font-weight: 300;
}

.contact-adress .adress-content span {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}

.contact-adress .adress-content-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.contact-adress .adress-content-arrow .arrow {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-adress .adress-content-arrow .arrow i {
  -webkit-transform: translate(-8px);
          transform: translate(-8px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-adress .adress-content-arrow .arrow-line {
  display: block;
  width: 25px;
  height: 2px;
  background: #ffffff;
  -webkit-transform: translate(-30px);
          transform: translate(-30px);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-adress .adress-link-layer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.contact-adress .adress-bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #ff3a4c;
}

.form {
  padding: 100px 0;
}

.form-title {
  margin-bottom: 50px;
}

.form-title span {
  color: #ff3a4c;
  font-weight: 600;
}

.form-title h5 {
  font-family: 'Roboto';
  font-size: 38px;
  margin: 0;
  line-height: 54px;
  color: #2f2f2f;
  font-weight: 400;
}

.form-title p {
  width: 675px;
  font-size: 14px;
  line-height: 26px;
  color: #2f2f2f;
}

.form-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.form-contacts-box {
  width: 30%;
  margin-bottom: 30px;
  position: relative;
}

.form-contacts-box-text {
  position: absolute;
  font-size: 14px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-textarea {
  margin-bottom: 30px;
}

.form-btn {
  padding: 15px 30px;
  background: none;
  border: 2px solid #ff3a4c;
  text-align: center;
  color: #ff3a4c;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form-btn:hover {
  background: #ff3a4c;
  color: #fff;
}

.form-btn-success {
  background: none;
  border: none;
  background: #ff3a4c;
  padding: 15px 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 1px #aa2530;
          box-shadow: 0 1px 0 1px #aa2530;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  outline: none;
}

.form-btn-success::before {
  content: '';
  position: absolute;
  top: 0;
  left: -35%;
  width: 30px;
  height: 50px;
  background: #fff;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 10px 5px #fff;
          box-shadow: 0 0 10px 5px #fff;
}

.form-btn-success:hover::before {
  left: 120%;
}

.input {
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

textarea {
  height: 100px !important;
  font-size: 16px;
  font-family: 'Montserrat Regular';
  resize: none;
}

.focus .form-contacts-box-text {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  color: #ff3a4c;
}

.focus .input {
  border-color: #ff3a4c;
}

.configurator {
  padding-top: 100px;
}

.configurator-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.configurator-title h1 {
  color: #39dfa5;
  background: -webkit-gradient(linear, left top, right bottom, from(#39dfa5), to(#1fbdf2));
  background: linear-gradient(to bottom right, #39dfa5, #1fbdf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Roboto';
  font-size: 52px;
  font-weight: 400;
  margin: 60px 0;
}

.configurator-title p {
  font-size: 26px;
  color: #676767;
  line-height: 36px;
  text-align: center;
}

.configurator-progress-bar {
  margin: 100px 0;
}

.configurator-progress-bar .bg-line {
  height: 30px;
  background: #dadada;
  border-radius: 15px;
  position: relative;
}

.configurator-progress-bar .bg-line .progress-line {
  width: 0;
  height: inherit;
  background: #ff3a4c;
  border-radius: 15px;
}

.configurator-progress-bar .bg-line .price-place {
  width: 80px;
  height: 80px;
  background: #ff3a4c;
  position: absolute;
  top: -25px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 0 0 #aa2530;
          box-shadow: 1px 2px 0 0 #aa2530;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.configurator-content {
  padding: 0 0 100px;
  background: #ecf0f1;
}

.configurator-content .content {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
}

.configurator-content .content .form {
  padding: 50px;
  width: 100%;
}

.configurator-content .content h6 {
  font-size: 40px;
  font-weight: bold;
  color: #bdc3c7;
  margin-bottom: 0;
}

.configurator-content .content p {
  color: #bdc3c7;
  text-align: center;
}

.configurator-content .content .count {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 40px;
  color: #ff3a4c;
}

.configurator-content .content-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.configurator-content .content-range {
  width: 200px;
  height: 140px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 10px;
  margin-bottom: 10px;
}

.configurator-content .content-range:hover .range-volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.configurator-content .content-range span {
  color: #bdc3c7;
  font-size: 13px;
  text-align: center;
}

.configurator-content .content-range input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  height: 10px;
  background: #bdc3c7;
  border-radius: 3px;
  cursor: pointer;
}

.configurator-content .content-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff3a4c;
  -webkit-box-shadow: 0 0 4px 3px #fff;
          box-shadow: 0 0 4px 3px #fff;
}

.configurator-content .content-range .range-volume {
  background: #242b52;
  color: #fff;
  width: 50px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  position: absolute;
  left: -15px;
}

.configurator-content .content-range .range-volume::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #242b52;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -2px;
}

.configurator-content .content-item {
  width: 160px;
  height: 140px;
  cursor: pointer;
  position: relative;
  margin: 10px;
}

.configurator-content .content-item-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.configurator-content .content-item-img span {
  position: absolute;
  bottom: 0;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #cccccc;
}

.configurator-content .content-item-img span.cross {
  color: #ecf0f1;
}

.configurator-content .content-item-img span.success {
  color: #ff3a4c;
  opacity: 0;
}

.configurator-content .content-item-popup {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 60px;
  background: #242b52;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
}

.configurator-content .content-item-popup::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #242b52;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -10px;
}

.configurator-content .content-item-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #bdc3c7;
  margin-top: 20px;
}

.configurator-content .content-check-label {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 160px;
  height: 140px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  z-index: 2;
}

.configurator-content .content-check-label input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.configurator-content .content #lang-checkbox {
  display: none;
}

.configurator-content .content-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.configurator-content .content-checkbox .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
}

.configurator-content .content-checkbox .checkbox span {
  color: #bdc3c7;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.configurator-content .content-checkbox .checkbox input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 26px;
  -webkit-appearance: none;
  outline: none;
  border-radius: 20px;
  background: #bdc3c7;
}

.configurator-content .content-checkbox .checkbox input:checked[type="checkbox"] {
  background: #ff3a4c;
}

.configurator-content .content-checkbox .checkbox input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #242b52;
  top: 4px;
  left: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.configurator-content .content-checkbox .checkbox input:checked[type="checkbox"]::before {
  content: '';
  left: 56px;
  background: #ecf0f1;
}

.configurator-content .content-btn-success {
  background: none;
  border: none;
  background: #ff3a4c;
  padding: 15px 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 1px #aa2530;
          box-shadow: 0 1px 0 1px #aa2530;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  outline: none;
}

.configurator-content .content-btn-success::before {
  content: '';
  position: absolute;
  top: 0;
  left: -35%;
  width: 30px;
  height: 50px;
  background: #fff;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 10px 5px #fff;
          box-shadow: 0 0 10px 5px #fff;
}

.configurator-content .content-btn-success:hover::before {
  left: 120%;
}

.configurator-content .content .alert {
  display: none;
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  background: #fdc2c2;
  border: 1px solid #d34646;
  color: #ff3a4c;
}

.configurator-subtitle {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.configurator-subtitle span {
  font-size: 20px;
  color: #676767;
  line-height: 26px;
}

.configurator-content .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checked .content-item-img {
  -webkit-animation: checked 1.5s 1 ease forwards;
          animation: checked 1.5s 1 ease forwards;
}

.checked .content-item-img .cross {
  -webkit-animation: cross 0.75s linear 1 forwards;
          animation: cross 0.75s linear 1 forwards;
}

.checked .content-item-img .success {
  -webkit-animation: success 0.75s linear 0.75s 1 forwards;
          animation: success 0.75s linear 0.75s 1 forwards;
}

@-webkit-keyframes checked {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes checked {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes cross {
  100% {
    opacity: 0;
  }
}

@keyframes cross {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes success {
  100% {
    opacity: 1;
  }
}

@keyframes success {
  100% {
    opacity: 1;
  }
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.detail-content {
  padding-left: 50px;
}

.detail-content-title p {
  color: #4f5355;
  line-height: 28px;
}

.detail-content-worklist ul li {
  color: #4f5355;
  line-height: 28px;
  list-style-type: disc;
  margin-left: 50px;
}

.detail-content-worklist span {
  color: #4f5355;
  line-height: 28px;
}

.detail-content-worklist span a {
  color: #4f5355;
}

.detail-content-worklist span a:hover {
  color: #ff3a4c;
}
/*# sourceMappingURL=style.css.map */